* {
  /* testing boxes */
  border: 1px;
  border-color: green;
  border-style: solid;
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 27, 48);
  color: rgb(255, 255, 255);
  font-family: "Inconsolata", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}
